@import './responsive.scss';

@mixin createTypo($weight, $size, $lh, $ls: 0em) {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: $weight;
  font-size: $size;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin h1-base {
  @include createTypo(700, 48px, 56px);
  @include for-tablet {
    @include createTypo(700, 48px, 56px);
  }
  @include for-mobile {
    @include createTypo(700, 48px, 56px);
  }
}

@mixin h2-base {
  @include createTypo(700, 36px, 48px);
  @include for-tablet {
    @include createTypo(700, 36px, 48px);
  }
  @include for-mobile {
    @include createTypo(700, 36px, 48px);
  }
}

@mixin h3-base {
  @include createTypo(700, 24px, 32px);
  @include for-tablet {
    @include createTypo(700, 24px, 32px);
  }
  @include for-mobile {
    @include createTypo(700, 24px, 32px);
  }
}

@mixin p1-base {
  @include createTypo(500, 16px, 20px);
  @include for-tablet {
    @include createTypo(500, 16px, 20px);
  }
  @include for-mobile {
    @include createTypo(500, 16px, 20px);
  }
}

@mixin p2-base {
  @include createTypo(400, 14px, 18px);
  @include for-tablet {
    @include createTypo(400, 14px, 18px);
  }
  @include for-mobile {
    @include createTypo(400, 14px, 18px);
  }
}

@mixin p3-base {
  @include createTypo(400, 12px, 16px);
  @include for-tablet {
    @include createTypo(400, 12px, 16px);
  }
  @include for-mobile {
    @include createTypo(400, 12px, 16px);
  }
}

// for the responsive we'll implement the breakpoint on each font class below
// font's responsive variant will be based on other fonts, which means that
// there is no new font size associated to the screen responsiveness but using the existing one instead

// for include reference in scss file since sass didn't allow extend across file
@mixin h1 {
  @include h1-base;
}

@mixin h2 {
  @include h2-base;
}

@mixin h3 {
  @include h3-base;
}

@mixin p1 {
  @include p1-base;
}

@mixin p2 {
  @include p2-base;
}

@mixin p3 {
  @include p3-base;
}

// for class reference in component inline
.h1 {
  @include h1-base;
}

.h2 {
  @include h2-base;
}

.h3 {
  @include h3-base;
}

.p1 {
  @include p1-base;
}

.p2 {
  @include p2-base;
}

.p3 {
  @include p3-base;
}

.text-bold {
  font-weight: 700;
}
.text-semi-bold {
  font-weight: 600;
}
.text-medium {
  font-weight: 500;
}
.text-normal {
  font-weight: 400;
}
